@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&family=Port+Lligat+Sans&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--green: #58a9a5;
	--green-light: #ccf0e6;
	--green-dark: #486958;
	--yellow-color: #fec62d;
	--dark-color: #404242;
	--ff: 'Poppins', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	display: block;
}

ul,
li {
	list-style: none;
}

html {
	font-family: var(--ff);
}

body {
	background-color: #fff;
}

main section {
	margin: 2rem 0 14rem 0;
}

/* general clasess */

.container {
	max-width: 1645px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	padding: 1rem 5rem;
	background-color: var(--green);
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	line-height: 38px;
	border: none;
	border-radius: 20px 20px 20px 0px;
}

[class*='header'] {
	color: #1c2323;
}

.intro-text {
	display: flex;
	flex-direction: column;
	padding-bottom: 4.5rem;
}

.intro-text--centered {
	align-items: center;
	text-align: center;
}

.intro-text__header {
	font-weight: 800;
	font-size: 70px;
	line-height: 105px;

	padding-bottom: 2rem;
}

.intro-text__description {
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	color: #404242;
}

.intro-text-separators {
	margin-top: 3rem;
}

.intro-text-separator {
	height: 5px;
	width: 135px;
	background-color: var(--green);
}

.intro-text-separator:first-child {
	margin-bottom: 1rem;
}

/* header styles */

.header {
	padding: 85px 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__img {
	height: 45px;
}

.logo__text {
	font-weight: 800;
	font-size: 35px;
	line-height: 52px;
	color: var(--green);
	margin-left: 0.5rem;
}

.nav__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.nav__item {
	font-weight: 400;
	font-size: 25px;
	line-height: 38px;
	color: var(--dark-color);
}

.nav__item.active {
	position: relative;
	font-weight: 700;
	color: var(--green);
}

.nav__item.active::after {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--yellow-color);
	border-radius: 20px;
	height: 6px;
	width: 20%;
	transition: 1s;
}

.nav__item.active:hover::after {
	width: 80%;
}

.nav__link {}

.btn-login {
	font-weight: 500;
	border-radius: 15px;
}

/* hero section */

.hero {
	margin-bottom: 7rem;
}

.hero .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 6.5rem;
}

.hero__left {}

.hero__text {}

.hero__right {}

.hero__img {
	position: relative;
	margin-right: -65px;
}

.hero__img-back {}

.hero__img-front {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* How it Works section */

.hiw {
	margin-bottom: 7rem;
}

.container {}

.hiw__intro-text {
	width: 510px;
	margin: 0 auto;
}

.hiw__video-sec {
	display: flex;
	background-color: var(--green-light);
	overflow: hidden;
	border-radius: 10px;
}

.hiw__video {
	flex: 1 1 65%;
	overflow: hidden;
}

.hiw__video img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hiw__video-desc {
	flex: 1 1 35%;
	position: relative;
	padding: 5rem 8rem;
}

.hiw__video-desc-text {
	color: var(--green-dark);
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	padding-bottom: 2.5rem;
}

.hiw__video-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: var(--green-dark);
	text-transform: uppercase;
	letter-spacing: 5px;
}

.hiw__video-run-btn {
	position: absolute;
	bottom: 50px;
	left: 0;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.4);
	animation: btn-pulse 2s 0.5s infinite;
}

.hiw__video-run-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-30%, -50%);
}

.hiw__additional {
	display: flex;
	margin-top: 8rem;
}

.hiw__additional-image {}

.hiw__additional-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hiw__additional-text {
	flex: 1 1 60%;
	padding: 0 8rem;
}

.hit__additional-header {
	font-weight: 700;
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 3rem;
}

.hit__additional-desc {
	font-weight: 500;
	font-size: 30px;
	line-height: 45px;
	color: var(--green-dark);
}

/* Project section */
.projects {}

.projects__intro {}

.projects__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8rem;
}

.projects__item {
	display: flex;
	flex-direction: column;
}

.projects__item:nth-child(2) > *:not(.item__image) {
	order: 2;
}

.item {}

.item__header {
	font-weight: 700;
	font-size: 40px;
	line-height: 60px;
	color: var(--green);
	margin-bottom: 0.4rem;
}

.item-description {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: var(--green-dark);
	margin-bottom: 2rem;
}

.item__image {
	margin: 0.5rem 0;
}

.item__image img {
	width: 100%;
}

/* testimonial section */

.testimonial {

}

.testimonial__intro-text {
	padding-bottom: 0;
}

.testimonial__brands {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.testimonial__brand {
	margin-bottom: 4rem;
}

.testimonial__summary {
	background-color: var(--green-light);
}

.testimonial-summary {
	display: flex;
}

.testimonial-summary__image {
	flex: 1 1 40%;
	overflow: hidden;
}

.testimonial-summary__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.testimonial-summary__text {
	flex: 1 1 60%;
	padding: 3rem 7rem 8rem 8rem;
}

.testimonial-summary__headers {
	display: flex;
	justify-content: space-between;
	gap: 7rem;
	margin-bottom: 8rem;
	
}

.testimonial-summary__header {
	color: var(--green);
}

.testimonial-summary__number {
	font-weight: 800;
	font-size: 70px;
	line-height: 105px;
}

.testimonial-summary__aim {
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
}

.testimonial-summary__blockquote {}

.testimonial-blockquote {
	position: relative;
	font-weight: 500;
	font-size: 25px;
	line-height: 38px;
}

.testimonial-blockquote::before {
	content: "“";
	position: absolute;
	top: -50%;
	left: -8%;
	font-family: 'Port Lligat Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 300px;
	line-height: 321px;
	color: #fff;
}

.testimonial-blockquote__phrase {
	position: relative;
	z-index: 1;
	color: var(--green-dark);
	margin-bottom: 2.5rem;
}

.testimonial-blockquote__author {
	color: var(--green);
}

/* Contact us section */

.contact {}

.contact .container {
	display: flex;
}

.contact__intro-text {}

.contact__form {
	flex: 1 1 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid var(--green-dark);
	padding: 4rem;
}

.contact__input,
.contact__desc {
	font-family: inherit;
	font-weight: 500;
	font-size: 25px;
	line-height: 38px;
	color: var(--green-dark);
	outline: none;
	border: none;
	margin-bottom: 3rem;
}

.contact__input {
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #000;
}

.contact__input::placeholder,
.contact__desc::placeholder {
	font-weight: 500;
	font-size: 25px;
	line-height: 38px;
	color: var(--green-dark);
}

.contact__desc {
	resize: none;
}

.contact .btn {
	align-self: flex-end;
}

@keyframes btn-pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(251, 251, 251, 0.9);
	}

	70% {
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}